<div class="container-1">
  <div *ngFor="let product of productsInCart">
    <card mat-card-content>
      <h3>{{product.product.name}}</h3>
      <p i18n>Category: {{product.product.category}}</p>
      <p i18n>Price: {{product.product.price}}</p>
      <p i18n>Quantity: {{product.quantity}}</p>
    </card>
  </div>
</div>

<div class="container-2">
  <button mat-raised-button i18n color="primary" type="button" (click)="checkout()">Place Order</button>
</div>

<div i18n *ngIf="orderPlaced">
  Order was placed successfully
</div>
