<div class = "container-1">

  <div class="container-1" [formGroup]="loginForm" >

    <mat-form-field>
      <input matInput type="username" placeholder = "username" formControlName = "username">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder = "password" formControlName = "password">
    </mat-form-field>

    <button mat-raised-button
            [disabled]="loginForm.invalid"
            color="primary" type="submit" (click)="submitLogin()">Login</button>

    <p *ngIf="loggInFail">
      Authentication failed: username or password is not correct
    </p>
  </div>
</div>
